# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

/tmp/*.sql

# 忽略所有 sqlite 数据库和备份
*.db
*.sql
*.py
*.sqlite
*.sqlite3
backup_*
*.bak
*.dump
# 忽略 Neon/Turso 可能导出的临时文件
temp-*database.db
*.sqlite
temp-*
.wrangler/
.wrangler/
